<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sc.w_drill"
    android:versionCode="7"
    android:versionName="FirstDruft">
    >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_72_red"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.sc.w_drill.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sc.w_drill.ActDictionaryList"
            android:icon="@drawable/logo_72_black"
            android:label="@string/title_activity_act_dictionary_list"
            android:parentActivityName="org.sc.w_drill.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sc.w_drill.MainActivity" />
        </activity>
        <activity
            android:name="org.sc.w_drill.ActDictionaryEntry"
            android:label="@string/title_activity_act_dictionary_entry"
            android:parentActivityName="org.sc.w_drill.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sc.w_drill.MainActivity" />
        </activity>
        <activity
            android:name="org.sc.w_drill.ActCheckWords"
            android:label="@string/title_activity_act_check_words"
            android:parentActivityName="org.sc.w_drill.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sc.w_drill.MainActivity" />
        </activity>
        <activity
            android:name="org.sc.w_drill.ActLearnWords"
            android:label="@string/title_activity_act_learn_words"
            android:parentActivityName="org.sc.w_drill.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sc.w_drill.MainActivity" />
        </activity>
        <activity
            android:name="org.sc.w_drill.ActSettings"
            android:label="@string/title_activity_act_settings" >
        </activity>
        <activity
            android:name="org.sc.w_drill.ActAbout"
            android:label="@string/title_activity_act_about"
            android:parentActivityName="org.sc.w_drill.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sc.w_drill.MainActivity" />
        </activity>
        <activity
            android:name="org.sc.w_drill.ActExportDictionary"
            android:label="@string/title_activity_act_export_dictionary"
            android:parentActivityName="org.sc.w_drill.ActDictionaryList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sc.w_drill.ActDictionaryList" />
        </activity>
        <activity
            android:name="org.sc.w_drill.ActImportDictionary"
            android:label="@string/title_activity_act_import_dictionary"
            android:parentActivityName="org.sc.w_drill.ActDictionaryList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sc.w_drill.ActDictionaryList" />
        </activity>
    </application>

</manifest>
